*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
header{
    background:url('../img/bg.jpg') no-repeat center center;
    height: 600px;
    background-size:cover;
}
#topnav{
    height: 60px;
    background-color: #41658e;
    position:fixed;
    width: 100%;
    top:0;
    left: 0;
    padding: 0 50px 0 50px;
   
}
a{
    text-decoration: none;
}
#topnav #logo{
    float: left;
    width: 30%;

}
#topnav #mainnav{
    float: left;
    width: 70%;
    text-align: right;
}
#topnav .logoicon{
    font-size: 30px;
    color: #fff;
   
    padding: 15px;
}
#mainnav .navitem{
    color: #fff;
    margin-left: 40px;
    display: inline-block;
    height: 60px;
    
}
#mainnav .navitem:hover{
    color: black;
    
}
.active:hover{
    background-color: white;

}
#mainnav .active{
    background-color: white;
    color:blue;
    display: inline-block;
    height: 60px;
    padding: 17px 10px;
}
#head{
    padding-top: 300px;
}
#head .sitetitle{
    background-color: #41658e;
    color: white;
    font-size: 50px;
    width: 45%;
    padding: 20px;
    margin-left: 50px;
}
#Services{
    padding: 20px;
    background-color:#eee;
    height: 420px;
}
#services_sec .sechead{
    text-align: center;
    color: #41658e;
    text-transform: capitalize;
    margin-bottom: 10px;
}
#services_sec .headhr{
   width: 6%;
   margin: auto;
   border: 1px solid #ccc;
   font-size: 30px;
   margin-bottom: 20px;
}
#services_sec .service{
    width:32.333%;
    float:left;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    height: 300px;
}
#services_sec  .service2,#services_sec  .service3{
    margin-left: 1.5%;
    
}
/* #services_sec  .service1{
    margin-left: 7px;
} */
.service .num{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #41658e;
    font-weight: bold;
    text-align: center;
    color: white;
    line-height: 1.3;
    font-size: 30px;
    margin-bottom: 10px;
}
.service .serviceName{
    color: #41658e;
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: arial;
}
.service .servicedescr{
    text-align: justify;
    line-height: 1.5;
    color:#6d5f5f;
}
#services_sec .service:hover{
    
    border: 1px solid #41658e;
    color: white;
    cursor: pointer;
    background-color: #41658e;
}
#services_sec .service:hover .num{
    background-color: #fff;
    color: #41658e;
}
#services_sec .service:hover .serviceName{
    color: #fff;
}
#services_sec .service:hover .servicedescr{
    color: #fff;
}
footer{
    background: url('../img/bg.jpg')no-repeat center center;
    height: 300px;
    background-size: cover;
}
footer #footer{
    background: rgba(9,23,86,0.7);
    height: 300px;
    background-size: cover;
    padding: 30px;
    font-family: arial;
}
#footer .side{
    float: left;
    width: 33.333%;
    padding: 20px;
    color: white;
}
#footer .side-title{
    font-size: 14px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
.infoside .site-about{
    line-height: 1.5;
    margin-bottom: 15px;
    font-size: 13px;
}
.infoside .social{
    text-align: center;
}
.social .socialicon{
    font-size: 14px;
    margin-left: 7px;
    font-size: 22px;
}
#footer .quicklinks .qlinks{
    margin: 20px;

}
.qlinks .qlink-li{
    margin-bottom: 8px;
}
.qlinks .qlink-item{
    color: white;
    font-size: 12px;
}
.qlinks .qlink-item:hover{
    color: black;
    text-decoration: underline;
    font-size: 12px;
}
.contactform .inputf,.contactform .inputarea,.contactform .btn{
    display: block;
    width: 100%;
    margin-bottom: 10px;
    padding: 15px 20px;
    border-radius: 8px;
    border:1px solid #ccc;
}
.contactform .inputarea{
    color:#716868;
}
.contactform .inputf:focus,.contactform .inputarea:focus{
    outline: none;
    

}
.contactform .btn{
    background-color: #41658e;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    color: white;
    font-weight: bold;
}
.contactform .btn:hover{
    background-color: gray;
    color: white;
    cursor: pointer;
}
#copyright{
    background-color: #545151;
    color: white;
    text-align: center;
    line-height: 3;
    text-transform: capitalize;
    font-size: 12px;
}